<!-- A AJOUTER AU DEBUT DU FICHIER (TOUT EN HAUT) -->

{% style %}

/* ACCORDION */

.accordion-p {
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  padding: 20px 15px;
  border-bottom: 3px solid grey;
  background: none;
}

.panel-p {
  padding: 10px 2px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion-p:after {
  content: '\02795';
  font-size: 8px;
  float: right;
  margin-left: 5px;
  margin-top: 10px;
}

.panel-p p {
  margin: 10px 0;
  color: {{ section.settings.acontent }};
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

{% endstyle %}

<!-- FIN -->



<!-- A AJOUTER A L'ENDROIT OU TU SOUHAITES AFFICHER L'ACCORDEON -->

<div class="prod-accordion">
{% for block in section.blocks %}
	<button class="accordion-p">
	  <span style="
		color: {{ block.settings.accordion-color }};
	  ">{{ block.settings.title }}</span>
	</button>
	<div class="panel-p">
	  {{ block.settings.text }}
	  {% if block.settings.image-accor %}
	    <img style="width: 100%;" src="{{ block.settings.image-accor.src | img_url: '480x480' }}" alt="product-image" />
	  {% endif %}
	</div>
{% endfor %}
</div>

<!-- FIN -->


<!-- A AJOUTER JUSTE AVANT LA LIGNE {% schema %} -->

<script>
  var acc = document.getElementsByClassName("accordion-p");
  var i;

  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.maxHeight) {
        panel.style.maxHeight = null;
      } else {
        panel.style.maxHeight = panel.scrollHeight + "px";
      } 
    });
  }
</script>

<!-- FIN -->



<!-- ATTENTION : BIEN REGARDER LA VIDEO POUR INTEGRER CETTE PARTIE -->
<!-- PRENDS VRAIMENT LE TEMPS CAR UN SEUL MANQUE DE VIRGULE T'EMPECHERA DE SAUVEGARDER -->

<!-- N'INCLUS PAS LES BALISES {% schema %}, ELLES SERONT DEJA PRESENTES -->
{% schema %}

{
  "name": "accordion",
  "blocks" : [
	{
    "type": "accordion",
    "name": "Accordéon",
    "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Titre de l'accordéon",
          "default": "Section"
        },
        {
          "id": "text",
          "type": "richtext",
          "label": "Contenu",
          "default": "<p>Écrivez tout ce qui vous semble cohérent.</p>"
        },
        {
          "id": "image-accor",
          "type": "image_picker",
          "label": "Image Accordéon"
        },
        {
          "id": "accordion-color",
          "type": "color",
          "label": "Couleur du titre",
          "default": "#000000"
        }
      ]
    }
  ]
}

{% endschema %}
